*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 15rem;
}

.calculadora {
   
}

.teclas_calculadora {
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem ;

}

.teclas_calculadora span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 1.2em;
    border-radius: 50%;
}

.teclas_calculadora .operador {
    background: gray;
}

.calculadora .limpar {
    background: red;
}

.display__calculadora {
    grid-column: span 4;
    width: 100%;
    height: 4rem;
    margin-bottom: 3rem;
    background-color: black;
    color: yellow;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    border-radius: 1.5rem 1.5rem 0 0 ;
}

.display__calculadora::placeholder {
    color: gray;
}